.error {
  display: flex;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__image {
    img {
      max-height: 12rem;
    }
  }

  &__text {
    span {
      font-size: 2rem;
    }
  }
}
