@import '../../scss/variables';

.singleCardContainer{
  margin: 5em auto 0;
  display: flex;
  width: $desctop-container;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImage {
  height: 15em;
}

.singleCardWrapper {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 2em;
}

.btnAdd {
  background-color: $turquoise;
  color: white;
  cursor: pointer;
  padding: 1em;
  border: none;
  border-radius: 2em;
  font-size: large;
  font-weight: bold;
}

.btnAdd:hover {
  background-color: $dark-grey;
}

.cartLink {
  font-size: $regular;
  color: $turquoise;
  padding-bottom: .5em;
  border-bottom: solid 1px $turquoise;
  text-align: center;
}

