//colors
$blue: #1183f5;
$dark-blue: #0172e2;
$grey: #636e72;
$light-grey: #dfe6e9;

//font weight
$regular: 400;
$bold: 600;
$super-bold: 700;

//font size
$small: 10px;
$regular: 16px;
$big: 24px;

//breakpoints

$mobile: 576px;
$desktop: 1440px;

//containers width

$desctop-container: 75%;
